*,
*:before,
*:after {
  box-sizing: inherit;
}

ol,
ul {
  padding: 0;
}

address,
blockquote,
dl,
fieldset,
figure,
ol,
p,
pre,
ul {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

body {
  margin: 0;
}

::selection {
  background: rgb(255, 255, 109);
  color: black;
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontBold;
  color: $fontColor;
  margin: 1em 0;
}

em {
  color: $fontColor;
}

b,
strong {
  font-weight: 800;
  font-family: $fontBold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

p {
  margin: 1.3em 0;
  a,
  a:visited {
    color: $linkContentColor;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    &:hover,
    &:focus {
      color: lighten($linkColor, 30%);
    }
  }
}

a,
a:visited {
  color: $linkColor;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  &:hover,
  &:focus {
    color: lighten($linkColor, 30%);
  }
}

blockquote {
  border: none;
  margin: 2em 1em;
  padding: 0 2rem;
  line-height: 1.2;
  font-size: 1.1em;
  font-style: italic;
}

.wrapper {
  margin: 0 3rem;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.ptpCopyright {
  &::before {
    content: '\00a9 ';
  }
}

.hidden {
  display: none;
}

nav {
  ul {
    list-style: none;
  }
}

#menu {
  display: block;
  width: 28px;
  height: 30px;
  transform: translate(1.3em, 1.3em);
  cursor: pointer;
  span {
    position: relative;
    display: block;
  }
  span:after,
  span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
  }
  span:after {
    top: 18px;
  }
  span,
  span:after,
  span:before {
    width: 100%;
    height: 4px;
    background-color: rgb(0, 0, 0);
    transition: all 0.3s;
    backface-visibility: hidden;
  }
  &.on {
    span {
      background-color: transparent;
    }
    span:before {
      transform: rotate(45deg) translate(-2px, 0px);
    }
    span:after {
      transform: rotate(-45deg) translate(7px, -8px);
    }
  }
}

.blockCenter {
  margin: 0 auto;
}
