$fontColor: #333333;
$titleColor: #454B4D;
$linkColor: rgb(105, 104, 104);
$linkContentColor: rgb(184, 63, 63);
@font-face {
  font-family: 'Croydon';
  src: url('fonts/Croydon.woff2') format('woff2'), url('fonts/Croydon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trujillo';
  src: url('fonts/Trujillo.woff2') format('woff2'), url('fonts/Trujillo.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Dutch801 XBd BT';
  src: url('fonts/Dutch801BT-ExtraBold.woff2') format('woff2'), url('fonts/Dutch801BT-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Dutch801 XBdIt BT';
  src: url('fonts/Dutch801BT-ExtraBoldItalic.woff2') format('woff2'), url('fonts/Dutch801BT-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Dutch801 Rm BT';
  src: url('fonts/Dutch801BT-Italic.woff2') format('woff2'), url('fonts/Dutch801BT-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Dutch801 Rm BT';
  src: url('fonts/Dutch801BT-Roman.woff2') format('woff2'), url('fonts/Dutch801BT-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$fontSerif: 'Dutch801 Rm BT',
'Times New Roman',
Times,
serif;
$fontBold: 'Dutch801 XBd BT',
'Times New Roman',
Times,
serif;